<!-- This Component will be used as an HTML Element that we can use to add an Assignment to our "database" -->
<div id="addAssignContainer">
    <h1>Add an Assignment</h1>
    <h3>Here you can add the information of the assignment you want to add.
        click the Add button once you're ready to submit it!
    </h3>
    <!-- List of Properties inside of an Assignment Component -->
    <p class="assignClass"><strong>Class: </strong><input type="text" id="a-class"></p>
    <p class="assignName"><strong>Assignment Name: </strong><input type="text" id="a-name"></p>
    <p class="assignDescription"><strong>Description: </strong><input type="text" id="a-desc"></p>
    <div class="assignDates">
        <p class="assignCreateDate"><strong>Create Date: </strong><input type="text" id="a-create-date"></p>
        <p class="assignDueDate"><strong>Due Date: </strong><input type="text" id="a-due-date"></p>
    </div>
    <p class="assignComplete"><strong>Is Completed: </strong><input type="checkbox" id="a-is-complete"></p>
    <button class="assignEdit">Add</button>
</div>