#mainSearchContainer {
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    background-color: white;
    overflow: hidden;
    overflow-y: scroll;
}

#searchContainer {
    border-style: solid;
    padding: 1%;
    margin-bottom: 1%;
}

#searchCriteria {
    display: flex;
    justify-content: space-between;
}

#searchButton {
    width: 15%;
}